<div class="create-container">
  <h2>New Customer</h2>
  <form [formGroup]="createForm" (ngSubmit)="addCustomer()" class="form">
    <div class="form-group" [ngClass]="{'has-error': createForm.get('FirstName')?.invalid && createForm.get('FirstName')?.touched}" >
      <input type="text" formControlName="FirstName" placeholder="First Name" required>
    </div>
    <div class="form-group" [ngClass]="{'has-error': createForm.get('LastName')?.invalid && createForm.get('LastName')?.touched}">
      <input type="text" formControlName="LastName" placeholder="Last Name" required>
    </div>
    <div class="form-group" [ngClass]="{'has-error': createForm.get('PhoneNumber')?.invalid && createForm.get('PhoneNumber')?.touched}">
      <input type="tel" formControlName="PhoneNumber" placeholder="Phone Number" required>
    </div>
    <div class="form-group" [ngClass]="{'has-error': createForm.get('Email')?.invalid && createForm.get('Email')?.touched}">
      <input type="email" formControlName="Email" placeholder="Email" required>
    </div>
    <div class="form-group" [ngClass]="{'has-error': createForm.get('Address')?.invalid && createForm.get('Address')?.touched}">
      <input type="text" formControlName="Address" placeholder="Address" required>
    </div>
    <div class="form-group" [ngClass]="{'has-error': createForm.get('Address2')?.invalid && createForm.get('Address2')?.touched}">
      <input type="text" formControlName="Address2" placeholder="Address 2">
    </div>
    <div class="form-group" [ngClass]="{'has-error': createForm.get('City')?.invalid && createForm.get('City')?.touched}">
      <input type="text" formControlName="City" placeholder="City" required>
    </div>
    <div class="form-group" [ngClass]="{'has-error': createForm.get('State')?.invalid && createForm.get('State')?.touched}">
      <input type="text" formControlName="State" placeholder="State" required>
    </div>
    <div class="form-group" [ngClass]="{'has-error': createForm.get('ZipCode')?.invalid && createForm.get('ZipCode')?.touched}">
      <input type="number" formControlName="ZipCode" placeholder="Zip Code" required>
    </div>
    <div class="form-group" [ngClass]="{'has-error': createForm.get('ReferralSource')?.invalid && createForm.get('ReferralSource')?.touched}">
      <div class="dropdown-container">
        <input type="text" formControlName="ReferralSource" placeholder="Referral Source" list="referral" required>
        <datalist id="referral">
          <option value="Website">
          <option value="Radio Ad">
          <option value="Friend or Family">
          <option value="Another Business">
          <option value="Returning Customer">
          <option value="Other">
        </datalist>
        <div class="dropdown-arrow">&#9662;</div>
      </div>
    </div>
    <button type="submit" class="submit-button">Add Customer</button>
  </form>
</div>
