  
  .customers-create-container {
    max-width: 95%;
    margin: 0 auto;
    padding: 2rem;
    border: 1px solid var(--border-color);
    border-radius: 8px;
    background-color: var(--bg-color);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .customers-create-container h2 {
    text-align: center;
    margin-bottom: 2rem;
    color: var(--text-color);
  }
  
  .customers-form {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); /* Automatically fill columns */
    column-gap: 1rem;
    row-gap: 1rem;
  }
  
  .form-group input, 
  .form-group .dropdown-container {
      width: 100%; /* Ensure all inputs and dropdowns take up the same width */
      padding: 1rem;
      border: 1px solid var(--border-color);
      border-radius: 4px;
      box-sizing: border-box;
      font-size: 1rem;
      background-color: var(--input-bg-color);
      color: var(--text-color);
      line-height: 1.2; /* Adjust line height if needed */
      border: none
  }
  
  .form-group input:focus {
    border-color: var(--input-focus-border-color);
    outline: none;
    box-shadow: 0 0 5px var(--input-focus-box-shadow);
    border: none;
  }
  
  .dropdown-container {
    display: flex;
    align-items: center;
    position: relative;
  }

  .dropdown-container input {
    flex-grow: 1;
    line-height: 1.2;
    height: 100%;
    padding: 0;
  }
  
  .dropdown-container .dropdown-arrow {
    position: absolute;
    top: 50%;
    right: 1rem;
    transform: translateY(-50%);
    pointer-events: none;
    color: var(--text-color);
    border: none;

  }
  
  .submit-button {
    padding: 1rem;
    background-color: var(--button-bg-color);
    color: var(--text-color);
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
    grid-column: span auto;
  }
  
  .submit-button:hover {
    background-color: var(--button-hover-bg-color);
  }
  @media (min-width: 600px) {
    .submit-button {
        grid-column: span 3; /* Ensures button spans across 3 columns on medium screens */
    }
  }
  
  @media (min-width: 900px) {
    .submit-button {
        grid-column: span 4; /* Ensures button spans across 4 columns on large screens */
    }
  }
  @media (max-width: 768px) {
    .customers-form {
      grid-template-columns: 1fr;
    }
  }
  