<div class="customers">
    <input type="text" #FirstName placeholder="First Name" required>
    <input type="text" #LastName placeholder="Last Name" required>
    <input type="tel" #PhoneNumber placeholder="Phone Number" required>
    <input type="text" #Address placeholder="Address" required>
    <input type="text" #City placeholder="City" required>
    <input type="text" #State placeholder="State" required>
    <input type="number" #ZipCode placeholder="Zip Code" required>
    <input type="email" #Email placeholder="Email" required>
    <input type="text" #ReferralSource placeholder="Referral Source" list="referral" required>
    <datalist id="referral">
        <option value="Website">
        <option value="Radio Ad">
        <option value="Friend or Family">
        <option value="Another Business">
        <option value="Returning Customer">
        <option value="Other">
    </datalist>
    <!-- (click) passes input value to addCustomer() and then clears the input -->
    <button (click)="
    addCustomer(
        FirstName.value, 
        LastName.value, 
        Email.value, 
        PhoneNumber.value, 
        Address.value, 
        City.value, 
        State.value, 
        ZipCode.value, 
        ReferralSource.value
    ); 
    FirstName.value=''; 
    LastName.value=''; 
    Email.value=''; 
    PhoneNumber.value=''; 
    Address.value=''; 
    City.value=''; 
    State.value=''; 
    ZipCode.value=''; 
    ReferralSource.value='';
    ">
        Add Customer
    </button>
</div>
