<div id="buttonsDiv">
    <div class="buttonCell" style="cursor: pointer;" *ngFor="let buttonLabel of buttonLabels;"
        (click)="onButtonClick(buttonLabel)">
        <a id="linkText" class="linkText">{{buttonLabel}}</a>
    </div>
</div>
<ng-container *ngComponentOutlet="dynamicComponent;"></ng-container>

<div class="displayUsers">
    <table [formGroup]="editForm">
        <thead>
            <!--This is the sorting fuctionality-->
            <tr>
                <th class="Search-by">Search by:</th>
                <th *ngFor="let header of userHeaders">
                    <input type="text" (input)="searchTable($event, header)" [placeholder]="header"
                        [title]="'Search by ' + header">
                </th>
                <th><!--place holder--></th>
            </tr>
            <!--This is the header fuction-->
            <tr>
                <th></th>
                <th (click)="sortTable('UserID')">{{Label.UserID}} <span [ngClass]="getSortIcon('UserID')"></span></th>
                <th (click)="sortTable('FirstName')">{{Label.FirstName}} <span
                        [ngClass]="getSortIcon('FirstName')"></span></th>
                <th (click)="sortTable('LastName')">{{Label.LastName}} <span [ngClass]="getSortIcon('LastName')"></span>
                </th>
                <th (click)="sortTable('Role')">{{Label.Role}} <span [ngClass]="getSortIcon('Role')"></span></th>
                <th (click)="sortTable('Address')">{{Label.Address}} <span [ngClass]="getSortIcon('Address')"></span>
                </th>
                <th (click)="sortTable('Address2')">{{Label.Address2}} <span [ngClass]="getSortIcon('Address2')"></span>
                </th>
                <th (click)="sortTable('City')">{{Label.City}} <span [ngClass]="getSortIcon('City')"></span></th>
                <th (click)="sortTable('State')">{{Label.State}} <span [ngClass]="getSortIcon('State')"></span></th>
                <th (click)="sortTable('ZipCode')">{{Label.ZipCode}}<span [ngClass]="getSortIcon('ZipCode')"></span>
                </th>
                <th (click)="sortTable('PhoneNumber')">{{Label.PhoneNumber}}<span
                        [ngClass]="getSortIcon('PhoneNumber')"></span></th>
                <th (click)="sortTable('Email')">{{Label.Email}}<span [ngClass]="getSortIcon('Email')"></span></th>
                <th (click)="sortTable('Password')">{{Label.Password}}<span [ngClass]="getSortIcon('Email')"></span>
                </th>
                <th></th>
            </tr>
        </thead>

        <tbody>

            <tr *ngFor="let User of filteredUsers">
                <td class="User-actions"> <!-- if editing is true make the cancel button show else make it edit-->
                    <ng-container *ngIf="editingUserId === User.UserID; else viewActions">
                        <div class="action-buttons">
                            <div class="action-button cancel-button" (click)="cancelUser()">Cancel</div>
                        </div>
                    </ng-container>
                    <ng-template #viewActions>
                        <img class="edit-image" [src]="editImage" alt="edit" (click)="editUser(User.UserID)">
                    </ng-template>
                </td>
                <!--User id column-->
                <td>{{User.UserID}}</td>
                <!---------------------------------------------------------------------------->
                <!-- if in editing mode make the fields editable else just display the text-->
                <td *ngFor="let field of userFields">
                    <ng-container *ngIf="editingUserId === User.UserID; else viewField">
                        <input [formControlName]="field" (keydown.enter)="applyUser()">
                    </ng-container>
                    <ng-template #viewField>{{User[field]}}</ng-template>
                </td>
                <!--end of that section---------------------------------------------------------------------->
                <!------------------------------------------------------------------------------------------->
                <td><!-- if editing is true make the apply button show else make it edit-->
                    <ng-container *ngIf="editingUserId === User.UserID; else viewDelete">
                        <div class="action-buttons">
                            <div class="action-button apply-button" (click)="applyUser()">Apply</div>
                        </div>
                    </ng-container>
                    <ng-template #viewDelete>
                        <img class="trash-image" [src]="trashImage" alt="delete" (click)="deleteUser(User.UserID)">
                    </ng-template>
                </td>
            </tr>
        </tbody>

    </table>
</div>