<div id="buttonsDiv">
    <div class="buttonCell" style="cursor: pointer;" *ngFor="let buttonLabel of buttonLabels;"
        (click)="onButtonClick(buttonLabel)">
        <a id="linkText" class="linkText">{{buttonLabel}}</a>
    </div>
</div>
<app-customers-create *ngIf="dynamicComponent" (formSubmitSucess)="handleFormSubmit()"></app-customers-create>
<div class="displayCustomers">

    <!-- error message secion -->
    <div *ngIf="errorMessage" class="error-message">
        {{ errorMessage }}
        <div *ngIf="errorDetails">
            <div *ngIf="errorDetails.tickets">
                <strong>Tickets:</strong>
                <ul>
                    <li *ngFor="let ticket of errorDetails.tickets">t-{{ ticket }}</li>
                </ul>
            </div>
            <div *ngIf="errorDetails.invoices">
                <strong>Invoices:</strong>
                <ul>
                    <li *ngFor="let invoice of errorDetails.invoices">i-{{ invoice }}</li>
                </ul>
            </div>
            <div *ngIf="errorDetails.payments">
                <strong>Payments:</strong>
                <ul>
                    <li *ngFor="let payment of errorDetails.payments">Payment ID: {{ payment }}</li>
                </ul>
            </div>
            <div *ngIf="errorDetails.charges">
                <strong>Charges:</strong>
                <ul>
                    <li *ngFor="let charge of errorDetails.charges">Charge ID: {{ charge }}</li>
                </ul>
            </div>
        </div>
        <button (click)="clearErrorMessage()">Close</button>
    </div>
    <table [formGroup]="editForm">
        <thead>
            <!--This is the sorting fuctionality-->
            <tr>
                <th class="Search-by">Search by:</th>
                <th *ngFor="let header of customerHeaders">
                    <input type="text" (input)="searchTable($event, header)" [placeholder]="getLabel(header)"
                        [title]="'Search by ' + header">
                </th>
                <th><!--place holder--></th>
            </tr>
            <!--This is the header fuction-->
            <tr>
                <th></th>
                <th (click)="sortTable('CustomerID')">{{Label.CustomerID}} <span
                        [ngClass]="getSortIcon('CustomerID')"></span></th>
                <th (click)="sortTable('FirstName')">{{Label.FirstName}} <span
                        [ngClass]="getSortIcon('FirstName')"></span></th>
                <th (click)="sortTable('LastName')">{{Label.LastName}} <span [ngClass]="getSortIcon('LastName')"></span>
                </th>
                <th (click)="sortTable('Address')">{{Label.Address}} <span [ngClass]="getSortIcon('Address')"></span>
                </th>
                <th (click)="sortTable('Address2')">{{Label.Address2}} <span [ngClass]="getSortIcon('Address2')"></span>
                </th>
                <th (click)="sortTable('City')">{{Label.City}} <span [ngClass]="getSortIcon('City')"></span></th>
                <th (click)="sortTable('State')">{{Label.State}} <span [ngClass]="getSortIcon('State')"></span></th>
                <th (click)="sortTable('ZipCode')">{{Label.ZipCode}}<span [ngClass]="getSortIcon('ZipCode')"></span>
                </th>
                <th (click)="sortTable('PhoneNumber')">{{Label.PhoneNumber}}<span
                        [ngClass]="getSortIcon('PhoneNumber')"></span></th>
                <th (click)="sortTable('Email')">{{Label.Email}}<span [ngClass]="getSortIcon('Email')"></span></th>
                <th (click)="sortTable('ReferralSource')">{{Label.ReferralSource}}<span
                        [ngClass]="getSortIcon('ReferralSource')"></span></th>
                <th></th>
            </tr>
        </thead>

        <tbody>

            <tr *ngFor="let customer of filteredCustomers">
                <td class="customer-actions"> <!-- if editing is true make the cancel button show else make it edit-->
                    <ng-container *ngIf="editingCustomerId === customer.CustomerID; else viewActions">
                        <div class="action-buttons">
                            <div class="action-button cancel-button" (click)="cancelCustomer()">Cancel</div>
                        </div>
                    </ng-container>
                    <ng-template #viewActions>
                        <img class="edit-image" [src]="editImage" alt="edit"
                            (click)="editCustomer(customer.CustomerID)">
                    </ng-template>
                </td>
                <!--customer id column-->
                <td>{{customer.CustomerID}}</td>
                <!---------------------------------------------------------------------------->
                <!-- if in editing mode make the fields editable else just display the text-->
                <td *ngFor="let field of customerFields">
                    <ng-container *ngIf="editingCustomerId === customer.CustomerID; else viewField">
                        <input [formControlName]="field" (keydown.enter)="applyCustomer()">
                    </ng-container>
                    <ng-template #viewField>{{customer[field]}}</ng-template>
                </td>
                <!--end of that section---------------------------------------------------------------------->
                <!------------------------------------------------------------------------------------------->
                <td><!-- if editing is true make the apply button show else make it edit-->
                    <ng-container *ngIf="editingCustomerId === customer.CustomerID; else viewDelete">
                        <div class="action-buttons">
                            <div class="action-button apply-button" (click)="applyCustomer()">Apply</div>
                        </div>
                    </ng-container>
                    <ng-template #viewDelete>
                        <img class="trash-image" [src]="trashImage" alt="delete"
                            (click)="deleteCustomer(customer.CustomerID)">
                    </ng-template>
                </td>
            </tr>
        </tbody>
    </table>
</div>