<div>
    <input type="text" #username placeholder="Username" required>
    <input type="password" #password placeholder="Password" required>
    <input type="email" #email placeholder="Email" required>
  
    <!-- (click) passes input value to addAdminUser() and then clears the input -->
    <button 
    type="button" class="add-button" (click)="
    addAdminUser(username.value, password.value, email.value); 
    username.value=''; 
    password.value=''; 
    email.value='';">
        add Admin
    </button>
</div>

