:root {
    --bg-color: #121212;
    --text-color: #ffffff;
    --border-color: #444444;
    --input-bg-color: #1e1e1e;
    --button-bg-color: #007bff;
    --button-hover-bg-color: #0056b3;
    --input-focus-border-color: #007bff;
    --input-focus-box-shadow: rgba(0, 123, 255, 0.5);
  }
  
  /* Container styling */
  .users-create-container {
    max-width: 95%;
    margin: 0 auto;
    padding: 2rem;
    border: 1px solid var(--border-color);
    border-radius: 8px;
    background-color: var(--bg-color);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  /* Form grid styling */
  .users-form {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); /* Automatically fill columns */
    column-gap: 1rem;
    row-gap: 1rem;
    gap: 1.5rem
  }

  .form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem; /* Adjust this value to control the spacing */
}
  /* Error styling for invalid input fields */
  .has-error input,
  .has-error select {
    border: 1px solid red;
  }
  
  /* Optional: Add background color to invalid fields */
  .has-error input:focus,
  .has-error select:focus {
    background-color: rgba(255, 0, 0, 0.1);
  }
  
  /* Regular input styling */
  input, select {
    padding: 1rem;
    border: 1px solid var(--border-color);
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 1rem;
    background-color: var(--input-bg-color);
    color: var(--text-color);
  }
  
  /* Focus state for inputs and select */
  input:focus,
  select:focus {
    border-color: var(--input-focus-border-color);
    outline: none;
    box-shadow: 0 0 5px var(--input-focus-box-shadow);
  }
  
  /* Button styling */
  .submit-button {
    padding: 1rem;
    background-color: var(--button-bg-color);
    color: var(--text-color);
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
    grid-column: span auto;
  }
  
  .submit-button:hover {
    background-color: var(--button-hover-bg-color);
  }
  
  /* Media query for button on larger screens */
  @media (min-width: 600px) {
    .submit-button {
      grid-column: span 3; /* Ensures button spans across 3 columns on medium screens */
    }
  }
  
  @media (min-width: 900px) {
    .submit-button {
      grid-column: span 4; /* Ensures button spans across 4 columns on large screens */
    }
  }
  
  @media (max-width: 768px) {
    .users-form {
      grid-template-columns: 1fr;
    }
  }
  